In [1]:
# https://data.cityofnewyork.us/api/views/kku6-nxdu/rows.csv?accessType=DOWNLOAD
# https://www.irs.gov/statistics/soi-tax-stats-individual-income-tax-statistics-2015-zip-code-data-soi
import pandas as pd
import numpy as np
import uszipcode
import csv
from collections import defaultdict
import folium
from uszipcode import ZipcodeSearchEngine
import json

In [2]:


pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 250)
pd.set_option('display.precision', 3)

In [3]:
#input: csv with zip codes with a new york, ny office
# out: list of nyc zip codes in string format
with open('All_NYC_ZipCodes.csv', 'r') as f: #from USPS post office
    reader = csv.reader(f)
    next(reader)
    nyc_zip = list(reader)

nyc_zip = [i[0] for i in nyc_zip]
#print(nyc_zip)

In [4]:

search = ZipcodeSearchEngine()

In [5]:
zipcode = search.by_zipcode('11372')
print(zipcode)

{
    "City": "Jackson Heights",
    "Density": 90048.64864864865,
    "HouseOfUnits": 25100,
    "LandArea": 0.74,
    "Latitude": 40.7527924,
    "Longitude": -73.8801301,
    "NEBoundLatitude": 40.75879200000001,
    "NEBoundLongitude": -73.86942479999998,
    "Population": 66636,
    "SWBoundLatitude": 40.746231,
    "SWBoungLongitude": -73.897284,
    "State": "NY",
    "TotalWages": 1003649658.0,
    "WaterArea": 0.0,
    "Wealthy": 15061.673239690257,
    "Zipcode": "11372",
    "ZipcodeType": "Standard"
}

In [6]:
# input: zipcodes
# output: dictionary with zipcode as key and list of Wealthy, Latitudes as values
search = ZipcodeSearchEngine()

my_dict = defaultdict(int)
for i in nyc_zip:
    zipcode = search.by_zipcode(i)
    
    my_dict[i] = [zipcode.Zipcode,zipcode.Wealthy,zipcode.City,zipcode.Population,zipcode.NEBoundLatitude,zipcode.NEBoundLongitude,zipcode.SWBoundLatitude, zipcode.SWBoungLongitude]

#print(my_dict)

In [7]:
new_df = pd.DataFrame(my_dict)

In [8]:
labels = ['Zipcode','Wealthy','City','Population','NEBoundLatitude', 'NEBoundLongitude','SWBoundLatitude', 'SWBoungLongitude']

In [9]:
new_df.head()

,10001,10002,10003,10004,10005,...,11691,11692,11693,11694,11697
0,10001,10002,10003,10004,10005,...,11691,11692,11693,11694,11697
1,4.89e+04,1.71e+04,None,1.08e+05,1.11e+05,...,1.01e+04,1.18e+04,1.75e+04,2.32e+04,3.15e+04
2,New York,New York,New York,New York,New York,...,Far Rockaway,Arverne,Far Rockaway,Rockaway Park,Breezy Point
3,21102,81410,56024,3089,7135,...,60035,18540,11916,20408,4079
4,40.8,40.7,40.7,40.7,40.7,...,40.6,40.6,40.6,40.6,40.6

In [10]:
my_df = new_df.transpose() #flip ittttt

In [11]:
my_df.head()

           0         1         2      3     4     5     6   7
10001  10001  4.89e+04  New York  21102  40.8 -73.9  40.7 -74
10002  10002  1.71e+04  New York  81410  40.7   -74  40.7 -74
10003  10003      None  New York  56024  40.7   -74  40.7 -74
10004  10004  1.08e+05  New York   3089  40.7   -74  40.7 -74
10005  10005  1.11e+05  New York   7135  40.7   -74  40.7 -74

In [12]:
my_df.columns = labels

In [13]:
my_df.head()

,Zipcode,Wealthy,City,Population,NEBoundLatitude,NEBoundLongitude,SWBoundLatitude,SWBoungLongitude
10001,10001,4.89e+04,New York,21102,40.8,-73.9,40.7,-74
10002,10002,1.71e+04,New York,81410,40.7,-74,40.7,-74
10003,10003,None,New York,56024,40.7,-74,40.7,-74
10004,10004,1.08e+05,New York,3089,40.7,-74,40.7,-74
10005,10005,1.11e+05,New York,7135,40.7,-74,40.7,-74

In [14]:
my_df.reset_index(drop = True, inplace = True)

In [15]:
my_df.head()

,Zipcode,Wealthy,City,Population,NEBoundLatitude,NEBoundLongitude,SWBoundLatitude,SWBoungLongitude
0,10001,4.89e+04,New York,21102,40.8,-73.9,40.7,-74
1,10002,1.71e+04,New York,81410,40.7,-74,40.7,-74
2,10003,None,New York,56024,40.7,-74,40.7,-74
3,10004,1.08e+05,New York,3089,40.7,-74,40.7,-74
4,10005,1.11e+05,New York,7135,40.7,-74,40.7,-74

In [16]:
# #take values list of lists in prep for transformation to dictionary
# new_list = my_dict.values()
# # create labels for columns
# labels = ['Zipcode','Wealthy','City','Population','NEBoundLatitude', 'NEBoundLongitude','SWBoundLatitude', 'SWBoungLongitude']
# #make list of tuples
# list2tuple= [tuple(i) for i in new_list]
# print(list2tuple)

In [17]:
# #input: list of tuples
# #output: dataframe. finally
# df = pd.DataFrame.from_records(list2tuple, columns=labels)

In [18]:
# check for number of rows and such

my_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 8 columns):
Zipcode             211 non-null object
Wealthy             183 non-null object
City                211 non-null object
Population          211 non-null object
NEBoundLatitude     198 non-null object
NEBoundLongitude    198 non-null object
SWBoundLatitude     198 non-null object
SWBoungLongitude    198 non-null object
dtypes: object(8)
memory usage: 19.5+ KB

In [19]:
df_nonull = my_df.dropna()

In [20]:
#drop all rows with nulls

df_nonull.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181 entries, 0 to 309
Data columns (total 8 columns):
Zipcode             181 non-null object
Wealthy             181 non-null object
City                181 non-null object
Population          181 non-null object
NEBoundLatitude     181 non-null object
NEBoundLongitude    181 non-null object
SWBoundLatitude     181 non-null object
SWBoungLongitude    181 non-null object
dtypes: object(8)
memory usage: 12.7+ KB

In [21]:
df_nonull.loc[df_nonull['Wealthy'] == df_nonull['Wealthy'].max()]

,Zipcode,Wealthy,City,Population,NEBoundLatitude,NEBoundLongitude,SWBoundLatitude,SWBoungLongitude
19,10020,inf,New York,0,40.8,-74,40.8,-74
74,10111,inf,New York,0,40.8,-74,40.8,-74
75,10112,inf,New York,0,40.8,-74,40.8,-74
116,10168,inf,New York,0,40.8,-74,40.8,-74

In [22]:
df_nonull = df_nonull[df_nonull.Population != 0]

In [23]:
df_nonull = df_nonull[df_nonull.Population != 2]

In [24]:
df_nonull.sort_values('Wealthy', ascending = False)

,Zipcode,Wealthy,City,Population,NEBoundLatitude,NEBoundLongitude,SWBoundLatitude,SWBoungLongitude
6,10007,1.64e+05,New York,6988,40.7,-74,40.7,-74
17,10018,1.55e+05,New York,5229,40.8,-74,40.7,-74
161,10282,1.23e+05,New York,4783,40.7,-74,40.7,-74
4,10005,1.11e+05,New York,7135,40.7,-74,40.7,-74
50,10069,1.1e+05,New York,5199,40.8,-74,40.8,-74
3,10004,1.08e+05,New York,3089,40.7,-74,40.7,-74
16,10017,1.02e+05,New York,16575,40.8,-74,40.7,-74
5,10006,7.97e+04,New York,3011,40.7,-74,40.7,-74
52,10075,7.57e+04,New York,26121,40.8,-73.9,40.8,-74
159,10280,6.98e+04,New York,7853,40.7,-74,40.7,-74
35,10036,6.83e+04,New York,24711,40.8,-74,40.7,-74
9,10010,6.55e+04,New York,31834,40.7,-74,40.7,-74
11,10012,6.35e+04,New York,24090,40.7,-74,40.7,-74
214,11109,5.7e+04,Long Island City,3523,40.7,-74,40.7,-74
0,10001,4.89e+04,New York,21102,40.8,-73.9,40.7,-74
37,10038,3.48e+04,New York,20300,40.7,-74,40.7,-74
262,11363,3.28e+04,Little Neck,6988,40.8,-73.7,40.8,-73.8
230,11217,3.19e+04,Brooklyn,35881,40.7,-74,40.7,-74
309,11697,3.15e+04,Breezy Point,4079,40.6,-73.9,40.5,-73.9
243,11231,3.11e+04,Brooklyn,33336,40.7,-74,40.7,-74
207,11040,2.98e+04,New Hyde Park,40782,40.8,-73.7,40.7,-73.7
274,11375,2.89e+04,Forest Hills,68733,40.7,-73.8,40.7,-73.9
203,11001,2.86e+04,Floral Park,26883,40.7,-73.7,40.7,-73.7
198,10471,2.72e+04,Bronx,22922,40.9,-73.9,40.9,-73.9
259,11360,2.63e+04,Bayside,18884,40.8,-73.8,40.8,-73.8
15,10016,2.61e+04,New York,54183,40.8,-74,40.7,-74
176,10312,2.6e+04,Staten Island,59304,40.6,-74.1,40.5,-74.2
8,10009,2.56e+04,New York,61347,40.7,-74,40.7,-74
171,10307,2.56e+04,Staten Island,14096,40.5,-74.2,40.5,-74.3
250,11238,2.51e+04,Brooklyn,49262,40.7,-74,40.7,-74
10,10011,2.48e+04,New York,50984,40.8,-74,40.7,-74
173,10309,2.48e+04,Staten Island,32519,40.6,-74.2,40.5,-74.2
172,10308,2.47e+04,Staten Island,27357,40.6,-74.1,40.5,-74.2
191,10464,2.39e+04,Bronx,4534,40.9,-73.8,40.8,-73.8
170,10306,2.35e+04,Staten Island,55909,40.6,-74.1,40.5,-74.2
20,10021,2.34e+04,New York,43631,40.8,-73.9,40.8,-74
261,11362,2.33e+04,Little Neck,17823,40.8,-73.7,40.7,-73.8
308,11694,2.32e+04,Rockaway Park,20408,40.6,-73.8,40.6,-73.9
21,10022,2.29e+04,New York,31924,40.8,-74,40.8,-74
256,11357,2.28e+04,Whitestone,39150,40.8,-73.8,40.8,-73.8
222,11209,2.28e+04,Brooklyn,68853,40.6,-74,40.6,-74
263,11364,2.25e+04,Oakland Gardens,34555,40.8,-73.7,40.7,-73.8
277,11379,2.21e+04,Middle Village,34821,40.7,-73.9,40.7,-73.9
205,11004,2.21e+04,Glen Oaks,14016,40.8,-73.7,40.7,-73.7
177,10314,2.2e+04,Staten Island,85510,40.6,-74.1,40.6,-74.2
294,11426,2.18e+04,Bellerose,17590,40.8,-73.7,40.7,-73.7
282,11414,2.17e+04,Howard Beach,26148,40.7,-73.8,40.6,-73.9
260,11361,2.15e+04,Bayside,28606,40.8,-73.8,40.8,-73.8
90,10128,2.15e+04,New York,60453,40.8,-73.9,40.8,-74
27,10028,2.14e+04,New York,45141,40.8,-73.9,40.8,-74
204,11003,2.11e+04,Elmont,41356,40.7,-73.7,40.7,-73.7
42,10044,2.11e+04,New York,11661,40.8,-73.9,40.7,-74
283,11415,2.09e+04,Kew Gardens,19341,40.7,-73.8,40.7,-73.8
265,11366,2.08e+04,Fresh Meadows,13532,40.7,-73.8,40.7,-73.8
22,10023,2.08e+04,New York,60998,40.8,-74,40.8,-74
279,11411,2.05e+04,Cambria Heights,18556,40.7,-73.7,40.7,-73.7
273,11374,2.03e+04,Rego Park,43600,40.7,-73.9,40.7,-73.9
235,11222,2.01e+04,Brooklyn,36934,40.7,-73.9,40.7,-74
169,10305,1.99e+04,Staten Island,41749,40.6,-74.1,40.6,-74.1
246,11234,1.98e+04,Brooklyn,87757,40.6,-73.9,40.6,-73.9
212,11105,1.97e+04,Astoria,36688,40.8,-73.9,40.8,-73.9
192,10465,1.93e+04,Bronx,42230,40.9,-73.8,40.8,-73.8
211,11104,1.91e+04,Sunnyside,27232,40.8,-73.9,40.7,-73.9
208,11101,1.91e+04,Long Island City,25484,40.8,-73.9,40.7,-74
25,10026,1.9e+04,New York,34003,40.8,-73.9,40.8,-74
165,10301,1.9e+04,Staten Island,39706,40.6,-74.1,40.6,-74.1
290,11422,1.89e+04,Rosedale,30425,40.7,-73.7,40.6,-73.8
168,10304,1.89e+04,Staten Island,42193,40.6,-74.1,40.6,-74.1
190,10463,1.89e+04,Bronx,67970,40.9,-73.9,40.9,-73.9
257,11358,1.88e+04,Flushing,37546,40.8,-73.8,40.7,-73.8
295,11427,1.88e+04,Queens Village,23593,40.7,-73.7,40.7,-73.8
23,10024,1.87e+04,New York,59283,40.8,-74,40.8,-74
174,10310,1.86e+04,Staten Island,24962,40.6,-74.1,40.6,-74.1
281,11413,1.82e+04,Springfield Gardens,38912,40.7,-73.7,40.7,-73.8
202,10475,1.81e+04,Bronx,40931,40.9,-73.8,40.9,-73.8
213,11106,1.8e+04,Astoria,38875,40.8,-73.9,40.8,-73.9
264,11365,1.79e+04,Fresh Meadows,42252,40.8,-73.8,40.7,-73.8
296,11428,1.78e+04,Queens Village,19168,40.7,-73.7,40.7,-73.8
240,11228,1.78e+04,Brooklyn,41788,40.6,-74,40.6,-74
24,10025,1.77e+04,New York,94600,40.8,-74,40.8,-74
307,11693,1.75e+04,Far Rockaway,11916,40.6,-73.8,40.6,-73.9
36,10037,1.74e+04,New York,17416,40.8,-73.9,40.8,-73.9
223,11210,1.73e+04,Brooklyn,62008,40.6,-73.9,40.6,-74
209,11102,1.73e+04,Astoria,34133,40.8,-73.9,40.8,-73.9
210,11103,1.72e+04,Astoria,38780,40.8,-73.9,40.8,-73.9
276,11378,1.72e+04,Maspeth,34981,40.7,-73.9,40.7,-73.9
1,10002,1.71e+04,New York,81410,40.7,-74,40.7,-74
197,10470,1.71e+04,Bronx,15293,40.9,-73.8,40.9,-73.9
247,11235,1.69e+04,Brooklyn,79132,40.6,-73.9,40.6,-74
188,10461,1.66e+04,Bronx,50502,40.9,-73.8,40.8,-73.9
248,11236,1.66e+04,Brooklyn,93877,40.7,-73.9,40.6,-73.9
266,11367,1.64e+04,Flushing,41047,40.7,-73.8,40.7,-73.8
32,10033,1.63e+04,New York,53926,40.9,-73.9,40.8,-74
12,10013,1.63e+04,New York,27700,40.7,-74,40.7,-74
241,11229,1.62e+04,Brooklyn,80018,40.6,-73.9,40.6,-74
280,11412,1.62e+04,Saint Albans,34882,40.7,-73.7,40.7,-73.8
297,11429,1.61e+04,Queens Village,25105,40.7,-73.7,40.7,-73.8
291,11423,1.61e+04,Hollis,29987,40.7,-73.8,40.7,-73.8
189,10462,1.58e+04,Bronx,75784,40.9,-73.8,40.8,-73.9
285,11417,1.57e+04,Ozone Park,28967,40.7,-73.8,40.7,-73.9
301,11434,1.56e+04,Jamaica,59129,40.7,-73.8,40.7,-73.8
33,10034,1.55e+04,New York,38908,40.9,-73.9,40.9,-73.9
26,10027,1.54e+04,New York,59707,40.8,-73.9,40.8,-74
167,10303,1.53e+04,Staten Island,26337,40.6,-74.1,40.6,-74.2
196,10469,1.53e+04,Bronx,66631,40.9,-73.8,40.9,-73.9
255,11356,1.52e+04,College Point,23438,40.8,-73.8,40.8,-73.9
218,11205,1.51e+04,Brooklyn,40366,40.7,-73.9,40.7,-74
271,11372,1.51e+04,Jackson Heights,66636,40.8,-73.9,40.7,-73.9
238,11225,1.49e+04,Brooklyn,56829,40.7,-73.9,40.7,-74
278,11385,1.48e+04,Ridgewood,98592,40.7,-73.9,40.7,-73.9
251,11239,1.46e+04,Brooklyn,13393,40.7,-73.9,40.6,-73.9
166,10302,1.46e+04,Staten Island,19088,40.6,-74.1,40.6,-74.1
289,11421,1.46e+04,Woodhaven,39127,40.7,-73.8,40.7,-73.9
39,10040,1.46e+04,New York,41905,40.9,-73.9,40.8,-73.9
288,11420,1.45e+04,South Ozone Park,44354,40.7,-73.8,40.7,-73.8
231,11218,1.44e+04,Brooklyn,75220,40.7,-74,40.6,-74
224,11211,1.43e+04,Brooklyn,90117,40.7,-73.9,40.7,-74
216,11203,1.42e+04,Brooklyn,76174,40.7,-73.9,40.6,-74
206,11005,1.41e+04,Floral Park,1806,40.8,-73.7,40.8,-73.7
303,11436,1.4e+04,Jamaica,17949,40.7,-73.8,40.7,-73.8
200,10473,1.4e+04,Bronx,58519,40.8,-73.8,40.8,-73.9
302,11435,1.39e+04,Jamaica,53687,40.7,-73.8,40.7,-73.8
28,10029,1.38e+04,New York,76003,40.8,-73.9,40.8,-74
236,11223,1.38e+04,Brooklyn,78731,40.6,-74,40.6,-74
242,11230,1.37e+04,Brooklyn,86408,40.6,-74,40.6,-74
286,11418,1.37e+04,Richmond Hill,36256,40.7,-73.8,40.7,-73.9
193,10466,1.36e+04,Bronx,67813,40.9,-73.8,40.9,-73.9
299,11432,1.34e+04,Jamaica,60809,40.7,-73.8,40.7,-73.8
275,11377,1.33e+04,Woodside,89830,40.8,-73.9,40.7,-73.9
227,11214,1.33e+04,Brooklyn,88630,40.6,-74,40.6,-74
31,10032,1.32e+04,New York,57331,40.9,-73.9,40.8,-74
239,11226,1.29e+04,Brooklyn,101572,40.7,-73.9,40.6,-74
38,10039,1.28e+04,New York,24527,40.8,-73.9,40.8,-73.9
29,10030,1.28e+04,New York,26999,40.8,-73.9,40.8,-73.9
30,10031,1.27e+04,New York,56438,40.8,-73.9,40.8,-74
229,11216,1.26e+04,Brooklyn,54316,40.7,-73.9,40.7,-74
253,11354,1.23e+04,Flushing,54878,40.8,-73.8,40.8,-73.9
217,11204,1.21e+04,Brooklyn,78134,40.6,-74,40.6,-74
284,11416,1.19e+04,Ozone Park,24861,40.7,-73.8,40.7,-73.9
306,11692,1.18e+04,Arverne,18540,40.6,-73.8,40.6,-73.8
287,11419,1.17e+04,South Richmond Hill,47211,40.7,-73.8,40.7,-73.8
194,10467,1.15e+04,Bronx,97060,40.9,-73.9,40.9,-73.9
237,11224,1.15e+04,Brooklyn,47621,40.6,-74,40.6,-74
300,11433,1.14e+04,Jamaica,32687,40.7,-73.8,40.7,-73.8
272,11373,1.12e+04,Elmhurst,100820,40.7,-73.9,40.7,-73.9
195,10468,1.1e+04,Bronx,76103,40.9,-73.9,40.9,-73.9
34,10035,1.09e+04,New York,33969,40.8,-73.9,40.8,-73.9
245,11233,1.09e+04,Brooklyn,67053,40.7,-73.9,40.7,-73.9
254,11355,1.09e+04,Flushing,85871,40.8,-73.8,40.7,-73.8
226,11213,1.08e+04,Brooklyn,63767,40.7,-73.9,40.7,-73.9
268,11369,1.05e+04,East Elmhurst,38615,40.8,-73.8,40.8,-73.9
244,11232,1.04e+04,Brooklyn,28265,40.7,-74,40.6,-74
178,10451,1.03e+04,Bronx,45713,40.8,-73.9,40.8,-73.9
234,11221,1.02e+04,Brooklyn,78895,40.7,-73.9,40.7,-73.9
305,11691,1.01e+04,Far Rockaway,60035,40.6,-73.7,40.6,-73.8
220,11207,1e+04,Brooklyn,93386,40.7,-73.9,40.6,-73.9
225,11212,9.99e+03,Brooklyn,84500,40.7,-73.9,40.7,-73.9
221,11208,9.88e+03,Brooklyn,94469,40.7,-73.9,40.6,-73.9
179,10452,9.6e+03,Bronx,75371,40.8,-73.9,40.8,-73.9
199,10472,9.5e+03,Bronx,66358,40.8,-73.8,40.8,-73.9
233,11220,9.4e+03,Brooklyn,99598,40.7,-74,40.6,-74
269,11370,9.38e+03,East Elmhurst,39688,40.8,-73.9,40.8,-73.9
187,10460,9.28e+03,Bronx,57311,40.9,-73.9,40.8,-73.9
219,11206,9.25e+03,Brooklyn,81677,40.7,-73.9,40.7,-74
249,11237,9.01e+03,Brooklyn,49896,40.7,-73.9,40.7,-73.9
180,10453,8.93e+03,Bronx,78309,40.9,-73.9,40.8,-73.9
186,10459,8.75e+03,Bronx,47308,40.8,-73.9,40.8,-73.9
185,10458,8.72e+03,Bronx,79492,40.9,-73.9,40.9,-73.9
184,10457,8.71e+03,Bronx,70496,40.9,-73.9,40.8,-73.9
183,10456,8.47e+03,Bronx,86547,40.8,-73.9,40.8,-73.9
182,10455,8.2e+03,Bronx,39665,40.8,-73.9,40.8,-73.9
267,11368,8.12e+03,Corona,109931,40.8,-73.8,40.7,-73.9
201,10474,7.95e+03,Bronx,12281,40.8,-73.9,40.8,-73.9
232,11219,7.63e+03,Brooklyn,92221,40.6,-74,40.6,-74
181,10454,7.31e+03,Bronx,37337,40.8,-73.9,40.8,-73.9

In [25]:
df_nonull['Wealthy'].max()

163592.85289066972

In [26]:
# (df_nonull['Wealthy'].max() - df_nonull['Wealthy'].min())

In [27]:
# np.linspace(df_nonull['Wealthy'].min(), df_nonull['Wealthy'].max(), num = 4)

In [28]:
# make 2 data bases, one with station long/lat, second with top flow station candidates

df_station = pd.read_csv('station_all.csv')
df_top = pd.read_csv('Top_15_Stations_Flow.csv')

In [29]:
# create Station-Line column in lat/long list
df_station['Station-Line'] = df_station[['Station Name','Line Name']].apply(lambda x: '-'.join(x), axis = 1)

# manual function lol of finding Station-Line name of non-flow targetted stations
df_station[df_station['Station-Line'].str.contains("Columbus")]

,Unnamed: 0,Station Name,Line Name,Station Longitude,Station Latitude,Station-Line
156,158,59th St-Columbus Circle,1ABCD,-73.982,40.768,59th St-Columbus Circle-1ABCD

In [30]:
#create STATION_LINE column in top flow list
df_top['STATION_LINE'] = df_top[['STATION','LINENAME']].apply(lambda x: '-'.join(x), axis = 1)
df_top.head()

,STATION-LINE-NORM,STATION-NORM,STATION,LINENAME,ENTRIES,...,Delta_time,Delta_people,Delta_ENTRIES,Delta_EXITS,STATION_LINE
0,Grand Central-4567GS,Grand Central,GRD CNTRL-42 ST,4567S,3.920e+11,...,105225881,3753808,2107252,1646556,GRD CNTRL-42 ST-4567S
1,34th St-BDFMNQR,34th St,34 ST-HERALD SQ,BDFMNQRW,2.440e+11,...,104138902,3580051,1942716,1637335,34 ST-HERALD SQ-BDFMNQRW
2,Fulton St-2345ACJZ,Fulton St,FULTON ST,2345ACJZ,5.550e+11,...,157759817,3559981,2009859,1550122,FULTON ST-2345ACJZ
3,14th St-Union Square-456LNQR,14th St-Union Square,14 ST-UNION SQ,456LNQRW,1.530e+11,...,73713600,3438184,1892558,1545626,14 ST-UNION SQ-456LNQRW
4,34th St-ACE,34th St,34 ST-PENN STA,ACE,3.946e+10,...,119911700,3136693,1742297,1394396,34 ST-PENN STA-ACE

In [31]:
#create 2 lists of wanted to plot stations

#by flow
flow2plot = df_top['STATION-LINE-NORM']

flow2plot_list = flow2plot.tolist()


#by target audience
audience2plot = []
audience2plot.append("116th St-Columbia University-1") 
# audience2plot.append("8th St-NR")
audience2plot.append("86th St-456")

In [32]:
#new lat/long dataframe with flow stations to plot
top_flow = df_station[df_station['Station-Line'].isin(flow2plot_list)]

#new lat/long dataframe with audience stations to plot
top_aud = df_station[df_station['Station-Line'].isin(audience2plot)]

In [33]:
#for flow = create smallter lat/long dataframe and find number of stations to plot
flow_coord = top_flow.loc[:,'Station Longitude':'Station-Line']
#length_flow = len(flow_coord.iloc[:,1])

#for audience= create smallter lat/long dataframe and find number of stations to plot

aud_coord = top_aud.loc[:,'Station Longitude':'Station-Line']
#length_aud = len(aud_coord.iloc[:,1])

# print(coord.iloc[:,1])

#coord

# MAPPING

In [34]:
f = r'nyc-zip-code-tabulation-areas-polygons.geojson'
_f = open(f,encoding = "utf-8-sig").read()

folium_map = folium.Map(location=[40.768, -73.982], zoom_start=11.5, tiles="CartoDB dark_matter")

In [35]:
folium_map.choropleth(geo_data=_f,
                      fill_color='OrRd', fill_opacity=0.7, line_opacity=0.5,
                      threshold_scale = [7000,30000, 60000,90000,110000,165000],legend_name='Average income by zipcode',
                      data = df_nonull,
                      line_color = 'white',
                      key_on='feature.properties.postalCode',
                      columns = ['Zipcode', 'Wealthy'], highlight=True
                     ) 

for j in range(len(flow_coord.iloc[:,1])):
    # print(j)
    #print(coord.iloc[j,1],coord.iloc[j,0])
    folium.RegularPolygonMarker([flow_coord.iloc[j,1], flow_coord.iloc[j,0]],color = 'blue', radius = 5, popup = flow_coord.iloc[j,2]).add_to(folium_map)

for p in range(len(aud_coord.iloc[:,1])):    
    folium.Marker([aud_coord.iloc[p,1], aud_coord.iloc[p,0]],
                  popup=aud_coord.iloc[p,2]).add_to(folium_map)

#color='#DC143C'
folium_map
#folium_map.save('map.html')

In [36]:
# test = folium.Map(
#     location=[40.749719,-73.987823],
#     zoom_start=12,
#     tiles='Stamen Terrain'
# )


# # folium.Marker([45.3288, -121.6625], popup='<i>Mt. Hood Meadows</i>').add_to(test)


# # test
# for j in range(len(flow_coord.iloc[:,1])):
#     # print(j)
#     #print(coord.iloc[j,1],coord.iloc[j,0])
#     folium.Marker([flow_coord.iloc[j,1], flow_coord.iloc[j,0]], popup = flow_coord.iloc[j,2]).add_to(test)

# for p in range(len(aud_coord.iloc[:,1])):    
#     folium.CircleMarker([aud_coord.iloc[p,1], aud_coord.iloc[p,0]],
#                         radius=10,
#                         popup=aud_coord.iloc[p,2],
#                         color='#DC143C').add_to(test)

    
# test

# # station